.box-six{
    border: 1px solid;
    // height: 868px;
    // width: 1280px;
    padding-top: 160px;
    // padding-bottom: 160px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    gap: 50px;

    .title-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h1{
            width: 507px;
            height: 116px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.04em;
            color: #000000;
        }

        h2{
            width: 468px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.04em;
            text-align: center;
            width: 100%;
            color: #000000;
        }

        p{
            width: 620px;
            height: 56px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .img-box{
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        gap: 9px;

        .col-3{
            width: 290px;
            height: 316px;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 12px;

            .imgLike{
                display: flex;
                flex-direction: row;
                // border: 1px solid;
                img{
                    width: 290px;
                    height: 200px;
                    border-radius: 20px;
                    // border: 1px solid;
                }
                a{
                    position: absolute;
                    right: 12px;
                    top: 12px;
                    text-decoration: none;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:hover i{
                        color: #FF6363;
                        transition: 0.4s;
                    }

                    i{
                        color: #DBE2E5;
                        font-size: 20px;
                    }
                }
            }

            h3{
                width: 290px;
                height: 52px;                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: -0.04em;
                color: #000000;
            }

            .watch-spoon{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                // border: 1px solid;
                width: 290px;
                justify-content: flex-start;
                gap: 40px;

                .watch{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                    }

                    h3{
                        width: 73px;
                        height: 17px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 23px;                        
                        letter-spacing: -0.02em;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                .spoon{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                    }

                    h3{
                        width: 73px;
                        height: 17px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 23px;                        
                        letter-spacing: -0.02em;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }
}

