.prof-chef{
    // border: 1px solid;
    padding-left: 80px;
    padding-bottom: 132px;
    padding-top: 80px;
    padding-right: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2{
        width: 1221px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 58px;
        line-height: 77px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #000000;
        // border: 1px solid;
    }

    .author-img{
        display: flex;
        // border: 1px solid;
        margin: auto;
        width: 42%;
        align-items: center;
        justify-content: center;
        gap: 20px;

        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding-right: 60px;

            img{
                border-radius: 100%;
            }

            h3{
                width: 86px;
                height: 19px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: -0.02em;
                color: #000000;
            }
        }

        h5{
            padding-left: 24px;
            width: 120px;
            height: 17px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.02em;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    p{
        padding-top: 48px;
        padding-bottom: 80px;
        margin: auto;
        width: 1059px;
        height: 56px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
    }

    .chef-img{
        border-radius: 50px;
        padding-bottom: 40px;
        // border: 1px solid;
    }

    .left-right-box{
        display: flex;
        flex-direction: row;
        width: 100%;
        // border: 1px solid;
        justify-content: space-between;

        .left-side{
            // border: 1px solid green;
            width: 79%;
            display: flex;
            flex-direction: column;
            gap: 90px;

            span{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                h2{
                    width: 95%;
                    // height: 29px;
                    // border: 1px solid;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: left;
                    letter-spacing: -0.04em;
                    color: #000000;
                }

                p{
                    width: 800px;
                    height: 84px;
                    text-align: left;
                    // border: 1px solid;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                    // line-height: 28px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }


            .lorem-box{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 920px;
                height: 224px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
                
                p{
                    width: 839px;
                    height: 128px;
                    font-family: 'Inter';
                    font-style: italic;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 64px;
                    letter-spacing: -0.04em;
                    color: #000000;
                }
            }
            
        }

        .right-side{
            // border: 1px solid red;
            width: 21%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            h4{
                width: 141px;
                height: 17px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: flex-end;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                
                color: #000000;
            }

            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
}